$font-stack: "Roboto", sans-serif;

$accent-color: #00acdc;
$button-text-color: #fff;

$background-color: #fff;
$text-color: black;

$card-width: 200px;
$catalog-gap-column: 48px;
$catalog-gap-row: 50px;
$catalog-cards-in-row: 4;
